@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@theme {
  --font-sans: 'area-normal', sans-serif;

  --color-primary: #000000;
  --color-accent: #44ff00;
}

@layer base {
  html {
    overflow-y: scroll; /* Always show vertical scrollbar */
    scrollbar-gutter: stable; /* Prevents layout shift */
    scroll-behavior: smooth;
  }

  body {
    margin: 0;
    min-height: 100vh;
    @apply font-sans text-lg font-normal;
    color: var(--color-primary);
  }
}

@layer utilities {
  .content-padding {
    @apply px-6 md:px-[100px];
  }

  .edge-padding {
    @apply px-5 md:px-5;
  }

  .page-title {
    @apply mt-4 text-[60px] leading-[0.9] font-black md:mt-[140px] md:text-[96px];
  }

  .btn-primary {
    @apply bg-accent rounded-md px-8 py-4 text-center font-medium text-black uppercase transition-all duration-300 ease-in-out hover:bg-black hover:text-white;
  }

  .fade-in-scroll {
    opacity: 0;
    transform: translateY(30px);
    transition:
      opacity 1000ms ease,
      transform 1000ms ease;
  }

  .fade-in-scroll.visible {
    opacity: 1;
    transform: translateY(0);
  }
}
