@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@theme {
  --font-sans: 'area-normal', sans-serif;

  --color-primary: #000000;
  --color-accent: #44ff00;
  --custom-gray: #d9d9d9;

  --animation-duration: 600ms;
}

@layer base {
  html {
    overflow-y: scroll; /* Always show vertical scrollbar */
    scrollbar-gutter: stable; /* Prevents layout shift */
    scroll-behavior: smooth;
  }

  body {
    margin: 0;
    min-height: 100vh;
    @apply font-sans text-lg leading-loose font-normal;
    color: var(--color-primary);
  }

  hr {
    @apply border-t;
    border-color: var(--custom-gray);
  }

  mux-player::part(cast) {
    display: none;
  }

  mux-player {
    border-radius: 0.375rem;
    overflow: hidden;
  }

  mux-player video {
    border-radius: 0.375rem;
  }
}

@layer components {
  .link-primary {
    @apply decoration-accent text-2xl font-[800] text-black uppercase underline decoration-4 underline-offset-12 transition-all duration-300 ease-in-out hover:underline-offset-4;
  }

  .fade-in-scroll {
    opacity: 0;
    transform: translateY(40px);
    transition:
      transform var(--animation-duration) ease-out,
      opacity var(--animation-duration) ease-out;
  }

  .fade-in-scroll.visible {
    opacity: 1;
    transform: translateY(0);
  }

  .baseline-scroll {
    opacity: 0;
    transform: translateY(50%);
    transition:
      transform var(--animation-duration) ease-out,
      opacity var(--animation-duration) ease-out;
  }

  .baseline-scroll.visible {
    opacity: 1;
    transform: translateY(0);
  }

  .right-fade {
    opacity: 0;
    transform: translateX(50%);
    transition:
      transform var(--animation-duration) ease-out,
      opacity var(--animation-duration) ease-out;
  }

  .right-fade.visible {
    opacity: 1;
    transform: translateX(0);
  }
}

@layer utilities {
  .content-padding {
    @apply px-6 md:px-[100px];
  }

  .edge-padding {
    @apply px-5 md:px-5;
  }

  .page-title {
    @apply mt-4 pb-8 leading-[1.1] md:mt-[8.75rem] md:tracking-tight;
    font-size: clamp(3.5rem, 0.938rem + 4.688vw, 6rem);
    font-weight: 700;
    -webkit-text-stroke: 2px black;
    paint-order: stroke fill;
    font-stretch: ultra-expanded;
    /* transform: translateX(-1px); */
  }

  @media (min-width: 768px) {
    .page-title {
      font-weight: 900;
    }
  }

  .bg-custom-gray {
    background-color: var(--custom-gray);
  }
}
