---
import Layout from '../layouts/Layout.astro';
---

<Layout title="SYMBOLD">
  <h1 class="text-6xl font-extralight">SYMBOLD</h1>
  <h1 class="text-6xl font-normal">SYMBOLD</h1>
  <h1 class="text-6xl font-medium">SYMBOLD</h1>
  <h1 class="text-6xl font-semibold">SYMBOLD</h1>
  <h1 class="text-6xl font-bold">SYMBOLD</h1>
</Layout>
