---
import Button from '../components/Button.astro';
import ScrollReveal from '../components/ScrollReveal.astro';
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import hero from '../assets/hero.png';
import heroMobile from '../assets/hero-mobile.png';
---

<Layout title="SYMBOLD">
  <section id="headers" class="content-padding">
    <h1 class="page-title">brutally honest <br /> branding</h1>
    <h2 class="mt-10 text-base font-medium md:text-2xl">
      we create conceptual, ambitious, and profound brand identities.
    </h2>

    <div class="mt-10">
      <Button class="w-full md:w-auto" href="/work">→ Work with us</Button>
    </div>
  </section>

  <section id="hero" class="edge-padding mt-10 w-full md:mt-40">
    <Image src={heroMobile} alt="Hero" class="h-auto w-full md:hidden" />
    <Image src={hero} alt="Hero" class="hidden h-auto w-full md:block" />
  </section>

  <ScrollReveal delay={200}>
    <h2
      class="mb-20 mt-20 text-center text-xl font-bold leading-tight md:mb-60 md:mt-60 md:text-4xl"
    >
      We don't make the logo bigger.
      <br />
      We craft strategic, bold brands that move businesses forward.
      <br />
      We are agile, efficient & creative
    </h2>
  </ScrollReveal>
</Layout>
