---
import Button from '../components/Button.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="SYMBOLD">
  <section id="headers" class="content-padding">
    <h1 class="page-title">brutally honest <br /> branding</h1>
    <h2 class="mt-10 text-base font-medium md:text-2xl">
      we create conceptual, ambitious, and profound brand identities.
    </h2>

    <div class="mt-10">
      <Button class="w-full md:w-auto" href="/work">→ Work with us</Button>
    </div>
  </section>
</Layout>
