---
import Logo from '../assets/logo.svg';
import MenuIcon from '../assets/menu.svg';
import MenuCloseIcon from '../assets/menu-close.svg';

const menuItems = [
  { name: 'Home', href: '/' },
  { name: 'Work', href: '/work' },
  { name: 'About', href: '/about' },
  { name: 'Contact', href: '/contact' },
];
---

<header class="content-padding flex h-[76px] items-center justify-between">
  <div class="logo">
    <a href="/">
      <Logo class="h-auto w-auto" />
    </a>
  </div>
  <!-- Desktop Navigation -->
  <nav class="hidden items-center gap-6 md:flex">
    {
      menuItems.map((item) => (
        <a href={item.href} class="text-base font-medium uppercase">
          {item.name}
        </a>
      ))
    }
  </nav>

  <!-- Mobile Hamburger -->
  <button
    id="menu-toggle"
    class="relative flex h-8 w-8 items-center justify-center md:hidden"
    aria-label="Toggle menu"
    aria-expanded="false"
  >
    <MenuIcon class="menu-icon h-8 w-8 transition-all duration-300" />
    <MenuCloseIcon class="close-icon absolute h-8 w-8 transition-all duration-300" />
  </button>
</header>

<style>
  .menu-icon {
    opacity: 1;
    transform: rotate(0deg);
  }

  .close-icon {
    opacity: 0;
    transform: rotate(-90deg);
  }

  [aria-expanded='true'] .menu-icon {
    opacity: 0;
    transform: rotate(90deg);
  }

  [aria-expanded='true'] .close-icon {
    opacity: 1;
    transform: rotate(0deg);
  }
</style>

<!-- Mobile Menu -->
<nav
  id="mobile-menu"
  class="fixed inset-0 top-[76px] z-50 flex flex-col items-center justify-center gap-6 bg-white transition-transform duration-500 ease-in-out md:hidden"
  style="transform: translateY(-100%); visibility: hidden;"
>
  {
    menuItems.map((item) => (
      <a href={item.href} class="text-2xl font-medium uppercase">
        {item.name}
      </a>
    ))
  }
</nav>

<script>
  document.addEventListener('astro:page-load', () => {
    const menuToggle = document.getElementById('menu-toggle');
    const mobileMenu = document.getElementById('mobile-menu');

    menuToggle?.addEventListener('click', () => {
      const isExpanded = menuToggle.getAttribute('aria-expanded') === 'true';
      menuToggle.setAttribute('aria-expanded', (!isExpanded).toString());

      if (isExpanded) {
        mobileMenu!.style.transform = 'translateY(-100%)';
        setTimeout(() => {
          mobileMenu!.style.visibility = 'hidden';
        }, 500);
      } else {
        mobileMenu!.style.visibility = 'visible';
        setTimeout(() => {
          mobileMenu!.style.transform = 'translateY(0)';
        }, 10);
      }
    });
  });
</script>
